@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  background-color: #151625;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 25px;
  background-color: #000429;
  font-size: 2rem;
  font-weight: 700;
  user-select: none;
}

.calculator-display {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  padding-right: 15px;
  padding-left: 15px;
  height: 100px;
  font-size: 5rem;
  line-height: 130px;
  text-align: right;
}

.calculator-btns {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
  gap: 15px;
  margin: 15px 5px;
}

.calculator-btn {
  aspect-ratio: 1 / 1;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #29339b;
  border-radius: 50%;
  transition: transform 250ms;
  cursor: pointer;
}

.calculator-btn:hover {
  transform: scale(1.1);
  background-color: rgba(41, 51, 155, 0.6);
}

.calculator-btns .calculator-btn.zero {
  width: 170px;
  border-radius: 40px;
}

.calculator-btn.light-btn {
  background-color: #b4b8ab;
  color: black;
}

.calculator-btn.light-btn:hover {
  background-color: rgba(180, 184, 171, 0.8);
}

.calculator-btn.highlighted-btn {
  background-color: #228cdb;
}

.calculator-btn.highlighted-btn:hover {
  background-color: rgba(34, 140, 219, 0.8);
}
